{% extends 'base.html' %}
{% load static %}




{% block page_header %}
<div class="overlay"></div>
<div class="container">
	<div class="row">
		<div class="col">
        <h2 class="profile_container">My Profile:
        {{user.userpage.user}}</h2>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container profile_container border  border-secondary">
    <div class="row">
        <div class="col-12 col-lg-6">
            <p> Delivery Information </p>
            <form class="mt-3" action ="{% url 'profile'%}" method="POST" id="update_profile_form">
                {% csrf_token %}

                    {{form|crispy}}
                <button class="btn btn-secondary float-right">Update Information</button>
        
                Order History

                <ul class="float-left">
                {{user.userpage.user}}
                {{user.userpage.orders}}
                </ul>
            </form>
        </div>
        {% for order in orders %}
        <ul>
            Order ID: {{ order.order_number }}
                {{order.date}}
        </ul>
        {% endfor %}
    </div>
</div>


{% endblock %}






