{% extends 'base.html' %}
{% load static %}




{% block page_header %}
<div class="container">
        <div class="row">
        <div class="col">
     </div>
     </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
<article class ="card">
<header class="card-header lead "> Thank You For You Order </header>

<div class="card-body">
<h5><strong>Order Number:</strong></h5>
<h6>{{order.order_number}}</h6>
<article class="card">
    <div class="card-body row">
    
    <ul>
   
    <li><h6>Date of Order: {{order.date}}</h6></li>
    {% for item in order.orderitems.all %}
  <li><strong>Products Ordered:</strong>  {{item.products.name}}</li>
  <li><strong>Product Count:</strong>{{item.quantity}}</li>
  <li><strong>Total:</strong>{{item.products.price}}</li>
  <hr>
  {% endfor %}
  <hr>
  <h3>Delivery Details</h3>
   <li><strong>Address line 1:</strong> {{order.address_1}}</li>
   <li><strong>Address Line 2:</strong> {{order.address_2}}</li>
   
<hr>
   <h3>Personal Information</h3>
   <li><strong>First Name:</strong>{{order.first_name}}</li>
    <li><strong>Second Name:</strong>{{order.second_name}}</li>
    <li><strong>Email :</strong>{{order.email}}</li>
    
    <hr>
    <h3>Amout Paid</h3>
    {{total|floatformat:2}}
    {{subtotal|floatformat:2}}
    </ul>
    
    </div>
    
</article>
</div>



</div>
    

 
{% endblock %}
   
       
      






  
  
                       