{% extends 'base.html' %}
{% load static %}




{% block page_header %}
<div class="container">
	<div class="row">
		<div class="col">
		</div>
	</div>
</div>

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5">
	<div class="row ">
		<div class="col">
			<h3>Complete Your Order :</h3>
            	<div class="col-lg-6">
					<div class="card-body">
						<div class="form-group "> <label>Have coupon?</label>
							<div class="input-group">
								<form action="{% url 'apply'%}" method="POST">
									{% csrf_token %}
									<input type="text" class="form-control coupon" name="discount_code" placeholder="Coupon code">
									<span class="input-group-append">
                                        <button class="btn btn-primary btn-apply coupon">
                                            Apply
                                        </button>
                                    </span>
								</form>
							</div>
						</div>
					</div>
				</div>
			<form action="{% url 'checkout'%}" method="POST" id="checkout_form">
				{% csrf_token %}

				{{order_form | crispy}}

				<div class="col-md-6">
					<p class="my-0"><strong>Amount Of Products : </strong>{{product_count}}</p>

					<p class="my-0"><strong>Delivery</strong> £3.00</p>
					<span><h4>You will be charged </h4> </span>
					<p><strong>Total</strong> :£{{total|floatformat:2}} </p>
					{% if discount %}
					<p><span class="discount"><strong>Discount - </strong> :£{{discount|floatformat:2}} </span></p>
					<p><strong>Total After Discount </strong> :£{{discountedTotal|floatformat:2}} </p>
					{% else %}
					<p><strong>Discount</strong> :£{{discount|floatformat:2}} </p>
					{% endif %}
				</div>
                <div class="px-3">
                    <legend class="fieldset-label small">
                        <h3>Payment</h3>
                    </legend>
                    <div class="mb-3" id="card-element"></div>
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">


                </div>
                <button id="submit-button" class="btn btn-secondary">
                    <span class="font-weight-bold">Complete Order</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </button>
    	    </form>
		</div>
	</div>
</div>



<div id="payment-overlay">
</div>
<hr>




{% endblock %}







{% block postloadjs %}
{{block.super}}
{{stripe_public_key|json_script:"id_stripe_public_key"}}
{{client_secret|json_script:"id_client_secret"}}
<script src="{% static 'script/stripe_elements.js'%}"></script>
{% endblock %}






